@charset "UTF-8";
/* CSS Document */

.box {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}

img {
    width: 700px;
}

svg {
    cursor: pointer;
}

#box1:hover {
    fill: blue;
}

#box1:hover ~ #window {
    fill: red;
}

#window:hover {
    position: relative;
    fill: yellow;
    
}

#roof:hover {
    fill: black;
}


#roofwindow:hover {
    fill: gray;
}

