
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial;
	line-height: 1.5;
}


body,html {
	height: 100%;
	min-width: 1200px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}

.img__box {
	width: 100%;
	padding-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 0 120px;

	
	
}

.images {

	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
	

}

img {
	
	width: 300px;
	height: 300px;
	position: absolute;
	display: block;

}

.hover .bio {
	 transition: 0.5s all ease;
}

.hover:hover .bio {

	z-index: 2;
    top: 55px;
    left: 154px;
    width: 370px;
    height: 370px;
    transition: 0.5s all ease;

}


 .peopleHover .people {

	transition: 0.5s all ease;

}

.peopleHover:hover .people {
	right: 180px;
    width: 340px;
    height: 340px;
    z-index: 3;
    top: 70px;
    transition: 0.5s all ease;
}

.yinHover .yinYang {
	transition: 0.5s all ease;
}

.yinHover:hover .yinYang {
	right: 190px;
    bottom: 148px;
    z-index: 4;
    height: 420px;
    width: 420px;
    left: -250px;
    transition: 0.5s all ease;
}

.yinYang {
	right: 190px;
    bottom: 80px;
}


.smoking {
	right: 179%;
    z-index: 1;
    top: 50px;
    width: 370px;
	height: 370px;

}


@media(max-width: 1000px){
	.text {
		font-size: 2rem;
	}
}

















