@charset "UTF-8";
/* CSS Document */

body,html {
    height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.5;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
}

.content__text {
    white-space: pre-line;
    word-wrap: break-word;
}

img {
    margin: 15px 0;
}