@charset "UTF-8";
/* CSS Document */

:root {
    --mainColor: snow;
}


body,html {
    height: auto;
    background-color: var(--mainColor);
    min-width: 1180px;
    
}


.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
   
}



/* first method - Float */

.navigation {
    text-align: center;
    margin-left: 18.7%;
}



.navigation__list::after {
     content: '';
     clear: both;
     display: block;
     
 }


.navigation__list>li{
    float: left;
    margin-left: 15px ;
   
   
}

.navigation__list-links {
    border-right: 3px solid red;
    padding: 10px 10px 10px 0;
}


.navigation__list-links:hover {
    text-decoration: 1px solid underline black;
    color: red;
}



/* second method */


.second__navigation {
    margin-top: 30px;
}

.secondnavigation__list>li {
    display: inline-block;
}



.secondnavigation__list-links {
    border-right: 3px solid red;
    padding: 10px
}

.secondnavigation__list-links:hover {
    text-decoration: underline 1px solid black;
    color: crimson;
}


/* third method */



.thirdnavigation__list {
    display: flex;
    justify-content: center;
    
}

.thirdnavigation__list-links {
    border-right: 3px solid red;
    padding: 10px
}


/* fourth method */

.fourthnavigation__list-links {
    border-right: 3px solid red;
    padding: 10px
}

.fourthnavigation__list-links:hover {
    text-decoration: underline 1px solid black;
    color: crimson;
}