@charset "UTF-8";
/* CSS Document */


.wrapper {
    max-width: 1180px;
    /* display: flex;
    justify-content: center; */
    float: left;
    margin: 0 auto;
    padding-top: 100px;

}


.elements {
    background: url('../img/stars-1.png') ;
    height: 76px;
    width: 75px;
    margin-left: 10px;
    float: right;
    /* transition: 0.5s all ease-in-out; */
    
    
}

/* .stars:hover:nth-child(1){
    background-position: 0px 77px;
} */


.elements:hover, .elements:hover ~ .elements {
    background-position: 0px 77px;
    /* transition: 0.5s all ease-in-out; */
}