@font-face {
  font-family: 'OpenSans-Medium';
  src: url('OpenSans-Medium.eot');
  src: url('OpenSans-Medium.eot?#iefix') format('embedded-opentype'),
       url('OpenSans-Medium.svg#OpenSans-Medium') format('svg'),
       url('OpenSans-Medium.ttf') format('truetype'),
       url('OpenSans-Medium.woff') format('woff'),
       url('OpenSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

