@charset "UTF-8";
/* CSS Document */

html,body {
    background-color: #333;
}

.clock {
    position: relative;
    width: 5em;
    height: 5em;
    margin: 20% auto;
    border: .2em solid mediumturquoise;
    border-radius: 50%;
    font-size: 1.2em;
    transform: scale(2.3);
    }
.clock:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: .1em;
    height: 2.1em;
    left: 2.5em;
    top: .4em;
    background: mediumturquoise;
    animation: timing 60s infinite steps(60);
    transform-origin: 0 2.1em;
    }
  
@keyframes timing {

    100% {
     transform: rotate(360deg);
    }
}