
body,html {
    padding: 10px 20px;
    max-width: 1200px;
   
}



.cards {

  
    height: 500px;
    width: 500px;
    overflow: scroll;
    margin-bottom: 50px;
   

     
    
}


.cards2 {
    background-image: url('../cards2.png'); 
    height: 190px;
    width: 434px;
    background-position: 2px -776px;
   margin-bottom: 10px;
   transition: 0.5s all ease-in-out;
   cursor: pointer;
   opacity: 0.4;
  
   
}

.cards2:hover {
    background-position: 2px -581px;
    transition: 0.5s all ease-in-out;
    opacity: 1;
   
}

.cards3 {
    background-image: url('../cards2.png');
   height: 190px;
   width: 434px;
   background-position: -141px 0px;
   transition: 0.5s all ease-in-out;
   opacity: 0.4;
   
   
   
   
}

.cards3:hover {

    background-position: -572px 0px;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    color: red;
    opacity: 1;

}