

 .gallery__box h2 {
     
     font-size: 1.5rem;
     color: skyblue;
    padding-bottom: 30px; 
    text-align: center;
  

}

.gallery {
  
    padding: 20px;
    height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    width: 600px;
   
   

}

.gallery > iframe {
    margin: 15px 0;
    border-radius: 5px;
   
}

a:hover {
    text-decoration: underline 1px solid black;
}