
body,html {
    margin-top: 5%;
    font-size: 26px;
    min-width: 1180px;
    overflow: hidden;
}



.container {
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
}


h1 {
    font-size: 2rem;

}


img {
    width: 500px;
}