/* Import of normalized css file */
@import url('default.css');


// variables list
// insert this property using nth($x, x) construction therefore this is Array / List

$align: center, baseline;
$txtalign: center, left, right;
$flexflow: column, flex-wrap;





// Mixins

@mixin Flex_1($flexBox: flex, $justify: flex-start, $align: center ){
  display: $flexBox;
  justify-content: $justify;
  align-items: $align;
}

@mixin Flex_2($flexBox: flex, $justify: center ){
  display: $flexBox;
  justify-content: $justify;

}

@mixin Flex_2($flexBox: flex, $justify: center ){
  display: $flexBox;
  justify-content: $justify;

}

@mixin Flex_3($flexBox: flex, $justify: space-between, $grow: 1 ){
  display: $flexBox;
  justify-content: $justify;
  flex-grow: $grow;


}


@mixin Flex_3-1($flexBox: flex, $justify: space-between, $shrink: 1){
  display: $flexBox;
  justify-content: $justify;
  flex-shrink: $shrink;

}

@mixin Flex_4($flexBox: flex, $justify: space-around){
  display: $flexBox;
  justify-content: $justify;

}

@mixin Flex_5($flexBox: flex, $justify: flex-end){
  display: $flexBox;
  justify-content: $justify;

}

@mixin Flex_6($flexBox: flex, $vector: column, $align: center){
  display: $flexBox;
  flex-direction: $vector;
  align-items: $align;


}

@mixin Grid_1($gridbox: grid,  $justify: center) {
  display: $gridbox;
  justify-items: $justify;

}



// predefined Classes:

// Flex


.flex__box-1 {
  @include Flex_1();
}

.flex__box-2 {
  @include Flex_2();

}

.flex__box-3 {
  @include Flex_3();

}

.flex__box-3-1 {
  @include Flex_3-1();

}

.flex__box-4 {
  @include Flex_4();

}

.flex__box-5 {
  @include Flex_5();

}

.flex__box-6 {
  @include Flex_6();

}



// Grid


.grid__box-1 {
  @include Grid_1()

}



